@import url("/global.css");

body {
  align-items: center;
  text-align: center;
} 

a {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: rgba(128, 128, 128, 0);
  transition: all .2s; 
}

a:hover {
  color: black;
  text-underline-offset: 1px;
  text-decoration-color: black;
}

.game-container {
  display: inline-grid;
  border-radius: 5px;
  row-gap: 25px;
  column-gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.game {
  border: gainsboro 1px solid;
  border-radius: 5px;
  width: 40vw;
  box-shadow: 0px 0px 0px var(--light-gray);
  color: black;
}

.game-image {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.game-desc {
  background-color: whitesmoke;
  padding: 15px;
  margin-top: -5px;
  border-radius: 0px 0px 5px 5px;
}

@media (max-width: 550px) {
  .game-container {
    grid-template-columns: 1fr;
  }

  .game {
    width: 80vw;
  }
}