@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
    font-family: Raleway, sans-serif;
}

button {
    background-color: white;
    border: 1.25px solid darkseagreen;
    color: darkseagreen;
    font-family: Raleway, sans-serif;
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s
}
  
button:hover {
    background-color: darkseagreen;
    border: 1.25px solid darkseagreen;
    color: white;
}
  
/*

NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- 

*/

#homepage-link {
    width: 50px;
    margin-bottom: 10px;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    transition: color 200ms;
}
  
li {
    display: inline;
    float: left;
    cursor: pointer;
}
    
.navbar-link:hover {
    color: darkseagreen;
} 
    
.navbar-link {
    display: block;
    padding: 12px;
    color: black;
}
  
ul li a img {
    vertical-align: middle; /* Ensure image is vertically aligned */
}
  
footer p {
    color: gray;
    text-align: center;
    font-size: medium;
    padding: 1rem 0;
    position: relative;
    top: 47.5vh;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Ensure footer stays at the bottom */
}