@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* COLORS */

    --light-gray: rgb(239, 239, 239);
    --gray: rgb(185, 185, 185);
    --dark-gray: rgb(30, 102, 84);
    --colors-hard-gray: rgb(107, 106, 106);
    --darker-gray: rgb(56, 56, 56);

    /* FONTS */

    --base: "Raleway";
    --title: "Rubik Mono One";
    --cursive: "Croissant One";
    --monospace: "IBM Plex Mono";
}

body {
    font-size: 24px;
    font-family: Raleway, sans-serif;
    text-align: center;
    transition: background-color .5s ease-in-out;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23dfdce3' fill-opacity='.25' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1 {
    font-family: var(--title);
    font-size: 2rem;
    color: var(--darker-gray);
    text-decoration: underline;
    text-underline-offset: 5px;
}

h2 {
    font-family: var(--title);
    font-size: 1.5rem;
    color: var(--colors-hard-gray);
}

button {
    background-color: white;
    border: 1.25px solid var(--dark-gray);
    color: var(--dark-gray);
    font-family: Raleway, sans-serif;
    width: 11vw;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin: 5px;
}

button:disabled {
    background-color: white;
    border: 1.25px solid var(--gray);
    color: lightgray;
    border-radius: 10px;
}
  
button:hover {
    background-color: var(--dark-gray);
    border: 1.25px solid var(--dark-gray);
    color: white;
}

button:disabled:hover {
    background-color: white;
    border: 1.25px solid var(--gray);
    color: lightgray;
    border-radius: 10px;
    cursor: default;
}

input {
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: url("");
    padding: 5px;
    font-family: Raleway, sans-serif;
    transition: box-shadow .2s ease-in-out;
}

input[type=color] {
    padding: 2px;
}

a {
    transition: color .1s ease-in-out;
}

a:link {
    color: darkseagreen;
}
a:visited {
    color: darkseagreen;
}
a:hover {
    color: seagreen;
}
a:active {
    color: darkseagreen;
}
 
.external-link {
    font-size: 1rem;
    padding: 2px;
}

kbd {
    font-family: var(--monospace), monospace;
    font-size: .8em;
    background-color: var(--light-gray);
    border: 3px solid var(--gray);
    border-radius: 3px;
    padding: 2px;
    box-shadow: 0px 5px var(--dark-gray);
}

code {
    background-color: var(--light-gray);
    border: 1px solid var(--gray);
    padding: 5px;
    border-radius: 5px;
    font-family: var(--monospace);
    font-size: 1.05rem;
}

hr {
    margin: 50px auto;
    max-width: 900px;
    background-color: var(--gray);
    border: none;
    height: 1px;
    width: 85%;
}

.footer-icon {
    color: var(--gray);
}

/*

NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- 

*/

    #homepage-link {
        width: 50px;
        margin-bottom: 10px;
    }
    
    .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center; /* Center items vertically */
        transition: color 200ms;
        width: 100%;
    }
        
    .navbar-link:hover {
        color: var(--dark-gray);
    } 
        
    .navbar-link {
        display: inline;
        float: left;
        cursor: pointer;
        display: block;
        padding: 12px;
        color: black;
        text-decoration: none;
    }
    
    ul li a img {
        vertical-align: middle; /* Ensure image is vertically aligned */
    }
    
    footer p {
        color: gray;
        text-align: center;
        font-size: medium;
        padding: 1rem 0;
        position: relative;
        top: 47.5vh;
        bottom: 0;
        width: 100%;
        margin-top: auto; /* Ensure footer stays at the bottom */
    }