@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

body {
  font-size: 24px;
  font-family: Raleway, sans-serif;
  text-align: center;
  transition: background-color 1s ease-in;
}

h1 {
  margin-top: 15vh;
  margin-bottom: -2vh;
}

#hud {
 display: flex;
 justify-content: center; 
}

button {
  width: 40px;
  height: 40px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 5px gray;
  background-color: #eee;
  font-family: Raleway, sans-serif;
}

#startbutton {
  width: 100px;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  gap: 2px;
  justify-content: center;
  margin: 20px auto;
}
.cell {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0px solid #ccc;
  background-color: #eee;
  font-size: 24px;
  transition: background-color 0.3s ease; /* Add transition effect */
}