/* Importing Google Fonts and external CSS file */
@import url("/global.css");

/* Styling for the quote section */
#quote {
    font: italic xx-large/1.5 var(--cursive), Times;
    width: 80vw;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.author {
    font: normal x-large/1.5 var(--base), sans-serif;
    text-align: center;
}

#quote-loader {
    font-size: 2.5em;
    margin: 20vh auto 0;
    display: block;
    text-align: center;
}