body {
    padding: 0;
    margin: 0;
}
 
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}

#homepage-logo {
    width: auto;
    height: 60%;
    object-fit: contain;
    object-position: center;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    max-width: 90vw;
    max-height: 90vh;
    padding: 0;
    margin: 0;
}

#links {
    color: var(--website-theme-color);
    cursor: pointer;
    list-style-type: none;
    padding: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10%;
    font-family: var(--title), monospace;
    font-weight: 900;
    font-size: 2em;
}

.link {
    color: var(--website-theme-color);
    text-underline-offset: 0.15em;
}

@media screen and (width >= 1050px) {
    #container {
        flex-direction: row;
    }

    #logo {
        margin-top: 0;
    }
}

@media screen and (width <= 500px) {
    #logo {
        height: 100vw;
    }

    #links {
        font-size: 10vw;
    }
}