#article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Change this to auto to allow the container to grow with its content */
  margin: 0;
  margin-bottom: 20vh;
  padding-top: 70px; /* Add some padding to the top to account for the navbar height */
}

#article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section {
  max-width: 800px;
  margin: auto;
}

#down-arrow {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 20px;
  left: 50%;
  color: var(--dark-gray);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#bmc-button {
  width: 150px;
  display: block;
  margin: 1rem auto;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0 0 0 / 38.5%);
  border-radius: 5px;
}

#text {
  padding-right: 0;
  margin-left: 20px;
}

#description {
  max-width: 750px;
}

#title {
  text-decoration: none;
}

p {
  margin: 20px;
  margin-top: -15px;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 0;
  border: none;
  margin: 20px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@media screen and (width >= 1070px) {
  #article-container {
    padding-top: 100px; /* Increase the padding to account for the navbar height at smaller screen widths */
  }

  .pfp {
    margin-top: 40px; /* Add some margin to the top of the profile picture to push it down */
  }
}

#profilepic.polaroid {
  background-color: aliceblue;
  padding: 10px;
  border: 0 ridge var(--light-gray);
  transform: rotate(-5deg);
  box-shadow: 7.5px 7.5px 20px #90a4ae;
}

#profilepic.frame {
  border-top: 10px ridge #723b12;
  border-right: 10px ridge #954e18;
  border-bottom: 10px ridge #af6e3b;
  border-left: 10px ridge #954e18;
  box-shadow: gray 15px 15px 12px;
  padding: 10px;
  background-color: var(--light-gray);
}

#socials-container {
  width: 250px;
  height: 75px;
}

#socials {
  padding-top: 20px;
  margin-right: -10px;
}

@media screen and (width <= 750px) {
  body {
    font-size: 20px;
  }

  .pfp {
    border-radius: 0;
    border: 0 ridge #b56424;
  }

  #text {
    text-align: center; /* Center the text */
  }
}

@media screen and (width >= 450px) {
  #article-container {
    margin-bottom: 37.5vh;
    margin-top: 5rem;
  }
}