@import url('/global.css');

#article-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
}

#article {
  width: 750px;
  word-wrap: break-word;
  display: inline-flex;
}

#text {
  padding-right: 0px;
}

p {
  font-size: 25px;
  margin: 20px;
  margin-top: -15px;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: 10px ridge #b56424;
  margin: 20px;
}

.polaroid {
  width: 200px;
  height: 200px;
  border-radius: 0;
  border: none;
  background-color: aliceblue;
  padding: 10px;
  margin: 20px;
  transform: rotate(-5deg);
  box-shadow: 15px 15px 15px #90a4ae;
}

#socials-container {
  width: 250px;
  height: 75px;
}

#socials {
  padding-top: 20px;
  margin-right: -10px;
}

/*

NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- 

*/

#homepage-link {
  width: 50px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  transition: color 200ms;
}

li {
  display: inline;
  float: left;
  cursor: pointer;
}

.navbar-link:hover {
  color: darkseagreen;
}

.navbar-link {
  display: block;
  padding: 12px;
  color: black;
}

ul li a img {
  vertical-align: middle; /* Ensure image is vertically aligned */
}

footer p {
  color: gray;
  text-align: center;
  font-size: medium;
  padding: 1rem 0;
  position: relative;
  top: 47.5vh;
  bottom: 0;
  width: 100%;
  margin-top: auto; /* Ensure footer stays at the bottom */
}

@media screen and (max-width: 750px) {
  body {
    font-size: 20px;
  }

  .pfp {
    width: 0;
    height: 0;
    border-radius: 0px;
    border: 0px ridge #b56424;
    visibility: hidden;
    padding: -5px;
  }

  #socials-container {
    visibility: hidden;
  }

  #socials {
    visibility: hidden;
  }

  #text {
    padding-right: 15px;
  }
}
