@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("/global.css");

#daily {
  margin-bottom: -1.5rem;
}

#date {
  font-family: var(--monospace);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.ad {
  width: fit-content; /* or a specific width like 100% */
  margin: 0 auto; /* This centers the element */
  font-size: 20px
}

legend {
  color: black;
  font-weight: bold;
  padding: 3px 6px;
}

fieldset {
  border: 1px solid var(--gray);
  border-radius: 5px;
  width: 20rem;
}

h3 {
  color: var(--gray);
  margin-top: -1.5rem;
}

label {
  font-size: small;
}

#hud {
  display: flex;
  justify-content: center; 
  font-size: 30px;
  font-family: var(--monospace), monospace;
}

button {
  margin: 2px;
}

#startbutton {
  width: 100px;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  gap: 2px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 40px;
  height: 40px;
  margin: 2px;
  border: none;
  border-radius: 6.5px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.191);
  background-color: #eee;
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 24px;
  transition: background-color 0.3s ease; /* Add transition effect */
}

.game-icon {
  color: var(--dark-gray);
}

a:link {
  color: darkseagreen;
}

#how-to-play-list {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-left: 0;
}

.instructions-item {
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding-left: 0;
  list-style-type: none;
}