#daily {
  margin-bottom: -1.5rem;
}

#date {
  font-family: var(--monospace);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.ad {
  width: fit-content; 
  margin: 0 auto; 
  font-size: 20px
}

legend {
  color: black;
  font-weight: bold;
  padding: 3px 6px;
}

fieldset {
  border: 1px solid var(--gray);
  border-radius: 5px;
  width: 20rem;
}

h3 {
  color: var(--gray);
  margin-top: -1.5rem;
}

label {
  font-size: 1.2rem;
}

#hud {
  display: flex;
  justify-content: center; 
  font-family: var(--monospace), monospace;
}

button {
  margin: 2px;
}

#startbutton {
  width: 100px;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  gap: 2px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 6.5px;
  box-shadow: 0 5px rgb(0 0 0 / 19.1%);
  font-family: var(--monospace), monospace, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  transition: background-color 0.3s ease;
  background-color: #eee;
}

.game-icon {
  color: var(--dark-gray);
}

a {
  color: var(--website-theme-color);
}

a:hover {
  color: var(--website-theme-dark);
}

#how-to-play-list {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-left: 0;
}

.instructions-item {
  margin-bottom: 0.5rem;
  padding-left: 0;
  list-style-type: none;
}