@import url("/global.css");



#start-text {
	width: 80vw;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 120px;
	max-width: 850px;
}

a {
	color: darkseagreen;
	text-decoration: underline;
	cursor: pointer;
}

#art-container {
	display: inline-grid;
	column-gap: 25px;
	row-gap: 150px;
	grid-template-columns: 1fr; 
	width: 100%;
	max-width: 1200px
}

.art {
	width: 40vw;
}

.art-image {
	width: auto;
	max-width: 660px;
	height: 40vw;
	max-height: 720px;
	border: 10px ridge #b56424;
	box-shadow: gray 15px 15px 12px;
}

.wide-image {
	width: 40vw !important;
	max-width: 720px !important;
	height: auto !important;
	max-height: 720px !important;
}

.art-desc {
	width: 40vw;
	max-width: 480px;
	margin: auto;
	min-width: 185px
}

h2 {
	text-decoration: underline;
	text-underline-offset: 12.5px;
}


@media (max-width: 700px) {
	#art-container {
		grid-template-columns: 1fr; 
	}
	
	.art-image {
		width: auto;
		max-width: 500px;
		height: 140vw;
		max-height: 500px;
	}

	.wide-image {
		width: 80vw !important;
		max-width: 360px !important;
		height: auto !important;
		max-height: 320px !important;
	
	}
}

@media (max-width: 550px) {
	.art-image {
		width: auto;
		height: 80vw;
		margin: auto;
	}

}
