@import url("/global.css");

body {
    font-size: 24px;
    font-family: Raleway, sans-serif;
    text-align: center;
    transition: background-color .5s ease-in-out;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
}

.game-container {
    width: 80%;
    max-width: 600px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Ensure cards fill the whole width */
    gap: 10px;
}

.card {
  position: relative;
  width: 100px; /* Set a fixed width if necessary */
  height: 142px; /* Maintain the aspect ratio */
  cursor: pointer;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center contents vertically */
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card.flipped img {
  transform: rotateY(0);
  border: 1px solid #eee;
}

.card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./images/back.png") no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: transform 0.3s;
  transform: rotateY(0);
  backface-visibility: hidden;
}

.card.flipped::before {
  transform: rotateY(180deg);
}

/*

NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- NAVBAR -=- 

*/

#homepage-link {
    width: 50px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    transition: color 200ms;
  }
  
  li {
    display: inline;
    float: left;
    cursor: pointer;
  }
    
  .navbar-link:hover {
    color: darkseagreen;
  } 
    
  .navbar-link {
    display: block;
    padding: 12px;
    color: black;
  }
  
  ul li a img {
    vertical-align: middle; /* Ensure image is vertically aligned */
  }

footer p {
    color: gray;
    text-align: center;
    font-size: medium;
    padding: 1rem 0;
    position: relative;
    top: 47.5vh;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Ensure footer stays at the bottom */
  }