@import url("/global.css");

.game-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.game-board {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ; /* Ensure cards fill the whole width */
    gap: 10px;
}

.card {
  position: relative;
  width: 100px; /* Set a fixed width if necessary */
  height: 142px; /* Maintain the aspect ratio */
  cursor: pointer;
  perspective: 1000px;
  display: flex;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card.flipped img {
  transform: rotateY(0);
  border: 1px solid #eee;
}

.card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./images/back.png") no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: transform 0.3s;
  transform: rotateY(0);
  backface-visibility: hidden;
}

.card.flipped::before {
  transform: rotateY(180deg);
}

button {
  width: 100px
}

@media (max-width: 750px) {
  .game-board {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .card {
    width: 80px;
    height: 113.6px;
  }
}

@media (max-width: 500px) {
  .game-board {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card {
    width: 80px;
    height: 113.6px;
  }
}