@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');
@import url("/global.css");

#crystalball {
  background-color: #ffffff00;
  border: none;
  width: 60vw;
  height: 60vw;
  text-align: center;
  background: url('./crystalball.png') no-repeat center center;
  background-size: cover;
  margin: auto;
  position: relative;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#crystalball-answer {
  font-size: 3.5vw;
  color: rgb(252, 225, 255);
  position: absolute;
  top: 41%;
  left: 50%;
  font-family: "Playwrite NZ", var(--cursive), cursive;
  font-weight: bold;
  font-style: italic;
  transform: translate(-50%, -50%);
}

#button-container {
  display: inline-grid;
  grid-template-columns: 1fr 4fr 1fr;
  min-height: 2rem;
}

#send-question {
  cursor: pointer;
  background-color: white;
  border-radius: 3px 10px 10px 3px;
}

#question-input {
  cursor: text;
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  border: 1.25px solid var(--dark-gray);
  color: black;
  font-family: var(--base), sans-serif;
  text-align: center;
  font-size: 1rem;
}

#share {
  cursor: pointer;
  border-radius: 10px 3px 3px 10px;
  background-color: white;
}

button:hover {
  color: black;
}

.flash {
  animation: flash 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation-delay: 0.5s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (min-width: 750px) {
  #crystalball {
      width: 40vw;
      height: 40vw;
  }

  #crystalball-answer {
    font-size: 3vw;
  }

  #share {
    font-size: 2vw;
    background: no-repeat;
    background-color: rgb(250,250,250);
  }
}

